#mobile-wrap .page-content .navbar  img.app-logo {
    height: 35px;
    padding: 5px;
    margin-top: 5px;
}

.swiper-container.introslider .swiper-slide:before {
    content: "";
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}